body
{
    background-image: url('/images/felt.png');
    background-size: 100%;
    background-repeat:no-repeat;
    color: white;
    font-weight: bold;
    font-size: 16pt;
    font-family: Arial, Sans-Serif;
}


ul
{
    list-style-type: none;
    padding: 0px;
    padding-left: 71px
}
li
{
    display: inline-block;
    margin-left: -58px;
}

.allPlayers
{
    vertical-align: top;
}
.playersHand
{
    display: inline-block;
    min-width: 100px;
    padding: 10px;   
    text-align:center;
}
.currentPlayer
{
    background-color:Yellow;
    color:Black;
}

.disconnectedPlayer
{
    background-color: #fcc;
    color:Black;
}